# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]

# Dataset / Models / Submissions
OAI-KL/KneeXray
OAI-KL/models
OAI-KL/submission
OAI-KL/Grad CAM
OAI-KL/Ensemble Network Box Plot
OAI-KL/Final Result
debug_images
debug_errors_*
debug_*

Datasets
*.pt
*.csv
*.txt

*.pdf
.DS_Store
